{% extends 'base.html' %}
{% block body %}

<div class="container my-3">
    <h2>Update Task</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Task</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-dark">Update</button>
    </form>
</div>

<script src="/home/junaid/python/flaskapp/templates/script.js"></script>
{% endblock body %}